

#add_to_bucket{
    grid-template-columns: repeat(4,1fr);
    display: grid;
    gap: 40px;
    
   
}




#add_to_bucket>div {
    border: 1px solid black;
    width: 250px;
    height: 250px;
    text-align: center;
    
    
}